<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>
    <link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/pages/index.scss">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__content">
                <div class="logo">
                    <img class="logo__img" src="../assets/images/logo.svg" alt="vpnmentor">
                </div>
                <nav class="menu">
                    <button class="menu__btn" data-menu-action data-menu-open>
                        <span class="menu__btn-span"></span>
                        <span class="menu__btn-span"></span>
                        <span class="menu__btn-span"></span>
                    </button>
                    <ul class="menu__list" data-menu>
                        <li class="menu__item menu__item_b-t-media">
                            <a class="menu__link" href="https://www.vpnmentor.com/blog/" target="_blank">
                                <i class="fa fa-pencil fa_menu-link"></i>
                                Blog
                            </a>
                        </li>
                        <li class="menu__item menu__item_action">
                            <a class="menu__link" href="https://www.vpnmentor.com" data-menu-link target="_blank">
                                <i class="fa fa-trophy fa_menu-link"></i>
                                Best VPN
                                <i class="fa fa-chevron-down fa_menu-link"></i>
                            </a>
                            <ul class="menu__list-child" data-menu-list-child>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://www.vpnmentor.com" target="_blank">
                                        <i class="fa fa-globe fa_menu-link fa_menu-link-child"></i>
                                        Best VPNs Overall
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://www.vpnmentor.com/bestvpns/mac/" target="_blank">
                                        <i class="fa fa-apple fa_menu-link fa_menu-link-child"></i>
                                        Best VPNs for Mac
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://www.vpnmentor.com/bestvpns/ios/" target="_blank">
                                        <i class="fa fa-mobile fa_menu-link fa_menu-link-child"></i>
                                        Best VPNs for iOS
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://www.vpnmentor.com/bestvpns/torrents/" target="_blank">
                                        <i class="fa fa-cloud-download fa_menu-link fa_menu-link-child"></i>
                                        Best VPNs for Torrents
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://www.vpnmentor.com/bestvpns/windows/" target="_blank">
                                        <i class="fa fa-windows fa_menu-link fa_menu-link-child"></i>
                                        Best VPNs for Windows
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://www.vpnmentor.com/bestvpns/android/" target="_blank">
                                        <i class="fa fa-android fa_menu-link fa_menu-link-child"></i>
                                        Best VPNs for Android
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://www.vpnmentor.com/bestvpns/usa/" target="_blank">
                                        <i class="fa fa-flag fa_menu-link fa_menu-link-child"></i>
                                        Best VPNs for USA
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu__item menu__item_action">
                            <a class="menu__link" href="https://www.vpnmentor.com" data-menu-link target="_blank">
                                <i class="fa fa-wrench fa_menu-link"></i>
                                Tools
                                <i class="fa fa-chevron-down fa_menu-link"></i>
                            </a>
                            <ul class="menu__list-child" data-menu-list-child>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://www.vpnmentor.com/vpn-comparison/" target="_blank">
                                        <i class="fa fa-balance-scale fa_menu-link fa_menu-link-child"></i>
                                        VPNs Comparison
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://www.vpnmentor.com/tools/test-the-great-china-firewall/" target="_blank">
                                        <i class="fa fa-ban fa_menu-link fa_menu-link-child"></i>
                                        Test The Great China Firewall
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://www.vpnmentor.com/tools/ip-leak-test-vpns-tor/" target="_blank">
                                        <i class="fa fa-wifi fa_menu-link fa_menu-link-child"></i>
                                        Free IP and WebRTC Leak Test Tool for VPNs + Browsers (2022)
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://www.vpnmentor.com/tools/bitcoin-rate/" target="_blank">
                                        <i class="fa fa-btc fa_menu-link fa_menu-link-child"></i>
                                        Bitcoin Rate Converter
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://www.vpnmentor.com/tools/passwordmeter/" target="_blank">
                                        <i class="fa fa-shield fa_menu-link fa_menu-link-child"></i>
                                        Password Meter
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://www.vpnmentor.com/tools/secure-password-generator/" target="_blank">
                                        <i class="fa fa-lock fa_menu-link fa_menu-link-child"></i>
                                        Secure Password Generator
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://www.vpnmentor.com/tools/ipinfo/" target="_blank">
                                        <i class="fa fa-map-marker fa_menu-link fa_menu-link-child"></i>
                                        IP Info
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://www.vpnmentor.com/tools/search-from/" target="_blank">
                                        <i class="fa fa-search fa_menu-link fa_menu-link-child"></i>
                                        Search by Location
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://www.vpnmentor.com/tools/tv-chart/#/" target="_blank">
                                        <i class="fa fa-solid fa-tv fa_menu-link fa_menu-link-child"></i>
                                        TV Ratings Chart - View TV show's ratings breakdown
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://www.vpnmentor.com/tools/speed-tool-checker/" target="_blank">
                                        <i class="fa fa-tachometer fa_menu-link fa_menu-link-child"></i>
                                        VPN Speed Test Comparison
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu__item menu__item_action">
                            <a class="menu__link" href="https://www.vpnmentor.com/coupons/" data-menu-link target="_blank">
                                <i class="fa fa-ticket fa_menu-link"></i>
                                Coupons
                                <i class="fa fa-chevron-down fa_menu-link"></i>
                            </a>
                            <ul class="menu__list-child" data-menu-list-child>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://www.vpnmentor.com/coupons/expressvpn/" target="_blank">
                                        <img class="png-ico" src="../assets/images/express-vpn.svg" alt="ExpressVPN Coupons">
                                        ExpressVPN Coupons
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://www.vpnmentor.com/coupons/cyberghost-vpn/" target="_blank">
                                        <img class="png-ico" src="../assets/images/cyber-ghost.svg" alt="CyberGhost VPN Coupons">
                                        CyberGhost VPN Coupons
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://www.vpnmentor.com/coupons/private-internet-access/" target="_blank">
                                        <img class="png-ico" src="../assets/images/private-access.svg" alt="Private Internet Access Coupons">
                                        Private Internet Access Coupons
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://www.vpnmentor.com/coupons/privatevpn/" target="_blank">
                                        <img class="png-ico" src="../assets/images/private-vpn.svg" alt="PrivateVPN Coupons">
                                        PrivateVPN Coupons
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://www.vpnmentor.com/coupons/hidemyass-vpn/" target="_blank">
                                        <img class="png-ico" src="../assets/images/hma-vpn.svg" alt="HMA VPN Coupons">
                                        HMA VPN Coupons
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu__item menu__item_search menu__item_b-r-media">
                            <div class="search-box">
                                <div class="search-box__search menu__link">
                                    <label class="search-box__label" for="search-box">
                                        <span class="fa fa-search fa_search-box fa_menu-link"></span>
                                    </label>
                                    <input class="search-box__input" id="search-box" type="search" autocomplete="off" placeholder="Search">
                                </div>
                                <div class="search-box__result" style="display: none"></div>
                            </div>
                        </li>
                        <li class="menu__item menu__item_action menu__item_switcher">
                            <a class="menu__link menu__link_btn" href="#" data-menu-link>
                                <i class="fa fa-globe fa_menu-link"></i>
                                <span data-qa-id="language_current">English</span>
                                <i class="fa fa-chevron-down fa_menu-link"></i>
                            </a>
                            <ul class="menu__list-child" data-menu-list-child>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://da.vpnmentor.com/" target="_blank">
                                        Dansk
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://de.vpnmentor.com/" target="_blank">
                                        Deutsch
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://es.vpnmentor.com/" target="_blank">
                                        Español
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://fr.vpnmentor.com/" target="_blank">
                                        Français
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://hr.vpnmentor.com/" target="_blank">
                                        Hrvatski
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://id.vpnmentor.com/" target="_blank">
                                        Indonesia
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://it.vpnmentor.com/" target="_blank">
                                        Italiano
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://hu.vpnmentor.com/" target="_blank">
                                        Magyar
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://nl.vpnmentor.com/" target="_blank">
                                        Nederlands
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://nb.vpnmentor.com/" target="_blank">
                                        Norsk
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://pl.vpnmentor.com/" target="_blank">
                                        Polski
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://pt.vpnmentor.com/" target="_blank">
                                        Português
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://ro.vpnmentor.com/" target="_blank">
                                        Română
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://fi.vpnmentor.com/" target="_blank">
                                        Suomi
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://sv.vpnmentor.com/" target="_blank">
                                        Svenska
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://vi.vpnmentor.com/" target="_blank">
                                        Tiếng Việt
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://tr.vpnmentor.com/" target="_blank">
                                        Türkçe
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://cs.vpnmentor.com/" target="_blank">
                                        Čeština
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://el.vpnmentor.com/" target="_blank">
                                        Ελληνικά
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://ru.vpnmentor.com/" target="_blank">
                                        Русский
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://uk.vpnmentor.com/" target="_blank">
                                        Українська
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://bg.vpnmentor.com/" target="_blank">
                                        български
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://th.vpnmentor.com/" target="_blank">
                                        ไทย
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://ja.vpnmentor.com/" target="_blank">
                                        日本語
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://zh.vpnmentor.com/" target="_blank">
                                        简体中文
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://ko.vpnmentor.com/" target="_blank">
                                        한국어
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://he.vpnmentor.com/" target="_blank">
                                        עברית
                                    </a>
                                </li>
                                <li class="menu__item-child">
                                    <a class="menu__link-child" href="https://ar.vpnmentor.com/" target="_blank">
                                        العربية
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <script type="module" src="../scripts/index.js"></script>
</body>
</html>
